*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;

}
.caixa-superior{
    background-image: url("imag proj 1.jpg");
    height: 90vh;
    background-size: cover; 
}

    .cabecalho{
        padding-top: 30px;
        padding-left: 35px;   
    }

.titulo-cabecalho{
    font-size: 24px;
    color: black;
    display: inline;
}

.link-cabecalho{
    font-size: 14px;
    color: #FFFFFF;
    display: inline;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}

h1{
    font-size: 55px;
    color: black;
    position: relative;
    top: 215px;
    margin-left: 470px;
}

form{
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear;
    background-color: #FFFFFF;
    border-radius: 10px;
    float: right;  
    padding: 20px;
    margin-right: 50px;
    position: relative;
    bottom: 70px;
}

.mostrar-formulario{
    visibility: visible;
    opacity: 0.9;
}

input{
    display: block;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    height: 40px;
    width: 250px;
    margin-bottom: 20px;
    padding-left: 10px;
}

textarea{
    display: block;
    height: 80px;
    width: 250px;
    background: #F9F9F9;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.titulo-formulario {
    font-size: 24px;
    color: #252B42;
    text-align: center;
}

button{
    width: 250px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #40BB15;
    color: #FFFFFF;
}

.caixa-central{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

#titulo-meio {
    font-size: 40px;
    color: #252B42;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.card {
    width: 300px;
    border-radius: 10px;
    background-color: #FFFFFF;
    border: 1px solid #4F4F4F;
}

.titulo-card {
    background: #FF6347;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

ul{
    padding: 20px;
}

li{
    margin-bottom: 5px;
    margin-left: 10px;
}

.caixa-inferior{
    background-color: #4F4F4F	;
}

.paragrafo-inferior{
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    padding: 20px 50px 50px 50px;
}

#titulo-inferior{
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

